* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.center {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}

header {
    background-color: white;
    padding: 18px 0;
    border-bottom: 2px solid black;
}

.logo {
    color: black;
}

.logo-img {
    margin-right: 10px;
}

.img-logo {
    width: 55px;
    height: 55px;
}

.menu {
    width: 80%;
    text-align: right;
}

.menu a {
    color: black;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    margin-right: 25px;
}

.menu a:hover {
    color: blue;
}