
body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.menu-principal {
    width: 100%;
    background-color: #BFBFBF;
    height: 60px;
}
.logo {
    padding: 20px;
    width: 80%;
    float: left;
}
.img-logo {
    width: 70px;
    height: 70px;
}
.rede-social ul li {
    display: inline-block;
    list-style: none;
}
.rede-social {
    float: left;
    width: 10%;
}
.logo-linkedin {
    width: 30px;
    height: 30px;
}
